version: "3.8"

services:
  transcribe_tilern:
    build: .
    container_name: transcribe_tilern
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - shared_network

networks:
  shared_network:
    external: true
